# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Puzzle and City-Buildilg.iml
# Datasource local storage ignored files
/../../../../../../../:\Учеба\Diplom\Puzzle and City-Buildilg\.idea\.idea.Puzzle and City-Buildilg\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
